#TODO: DEV - build / push / deploy
dev-build:
  stage: build
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build -f ./docker/dev/Dockerfile --tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
  only:
    - dev

dev-push:
  stage: push
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$CI_REGISTRY_IMAGE:latest-dev"
    - docker push "$CI_REGISTRY_IMAGE:latest-dev"
  only:
    - dev

#docker-deploy-dev:
#  stage: deploy
#  image: ruby:latest
#  before_script:
#    - apt-get update
#    - apt-get -y install rsync sshpass
#  script:
#    # TODO: DEPLOY DOSYA KONUMUNU AYARLAR.
#    - timeout 600s sshpass -p $DEV_SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $DEV_SERVER_USERNAME@$DEV_SERVER_IP
#      " cd ~; rm -rf deploy-file-nuxt; mkdir deploy-file-nuxt; "
#    # TODO: DOSYALARI SERWER 'A KOPYALAR
#    - timeout 600s sshpass -p $DEV_SERVER_PASSWORD scp -o stricthostkeychecking=no -r docker/dev/docker-compose.yml $DEV_SERVER_USERNAME@$DEV_SERVER_IP:~/deploy-file-nuxt
#    - timeout 600s sshpass -p $DEV_SERVER_PASSWORD scp -o stricthostkeychecking=no -r docker/dev/Makefile $DEV_SERVER_USERNAME@$DEV_SERVER_IP:~/deploy-file-nuxt
#    # TODO: TEKRAR AYAĞA KALDIRIR WE ARTIKLARI SİLER
#    - timeout 600s sshpass -p $DEV_SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $DEV_SERVER_USERNAME@$DEV_SERVER_IP
#      " cd ~/deploy-file-nuxt; make rebuild TAG=$CI_COMMIT_SHORT_SHA DEV_DEPLOY_USERNAME=$DEV_DEPLOY_USERNAME DEV_DEPLOY_PASSWORD=$DEV_DEPLOY_PASSWORD; "
#    - timeout 600s sshpass -p $DEV_SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $DEV_SERVER_USERNAME@$DEV_SERVER_IP
#      " cd ~; rm -rf deploy-file-nuxt; docker system prune -a -f --all; docker system prune -a -f --volumes; "
#  only:
#    - dev
