#TODO: MAIN - build / push / deploy
prod-build:
  stage: build
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build -f ./docker/prod/Dockerfile --tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
  only:
    - main

prod-push:
  stage: push
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$CI_REGISTRY_IMAGE:latest"
    - docker push "$CI_REGISTRY_IMAGE:latest"
  only:
    - main

#docker-deploy-prod:
#  stage: deploy
#  image: ruby:latest
#  before_script:
#    - apt-get update
#    - apt-get -y install rsync sshpass
#  script:
#    # TODO: DEPLOY DOSYA KONUMUNU AYARLAR.
#    - timeout 600s sshpass -p $PROD_SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $PROD_SERVER_USERNAME@$PROD_SERVER_IP
#      " cd ~; rm -rf deploy-file-nuxt; mkdir deploy-file-nuxt; "
#    # TODO: DOSYALARI SERWER 'A KOPYALAR
#    - timeout 600s sshpass -p $PROD_SERVER_PASSWORD scp -o stricthostkeychecking=no -r docker/prod/docker-compose.yml $PROD_SERVER_USERNAME@$PROD_SERVER_IP:~/deploy-file-nuxt
#    - timeout 600s sshpass -p $PROD_SERVER_PASSWORD scp -o stricthostkeychecking=no -r docker/prod/Makefile $PROD_SERVER_USERNAME@$PROD_SERVER_IP:~/deploy-file-nuxt
#    # TODO: TEKRAR AYAĞA KALDIRIR WE ARTIKLARI SİLER
#    - timeout 600s sshpass -p $PROD_SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $PROD_SERVER_USERNAME@$PROD_SERVER_IP
#      " cd ~/deploy-file-nuxt; make rebuild TAG=$CI_COMMIT_SHORT_SHA PROD_DEPLOY_USERNAME=$PROD_DEPLOY_USERNAME PROD_DEPLOY_PASSWORD=$PROD_DEPLOY_PASSWORD; "
#    - timeout 600s sshpass -p $PROD_SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $PROD_SERVER_USERNAME@$PROD_SERVER_IP
#      " cd ~; rm -rf deploy-file-nuxt; docker system prune -a -f --all; docker system prune -a -f --volumes; "
#  only:
#    - main
